{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #FFFFFF; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>CATEGORIES</h1>

    <ul>
        {% for category in categories %}
            {% if category.parent is null %}
                <li>
                    <a href="{{ path('app_activities', {'id': category.id}) }}">
                        {{ category.name }}
                    </a>
                </li>
                {% for child in category.children %}
                    <ul>
                        <li>
                            <a href="{{ path('app_activities', {'id': child.id}) }}">
                                {{ child.name }}
                            </a>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
